<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>FeaturesToJSON</Name><AddInID>{2a5f3134-089c-4f1f-bd49-670979e1c6aa}</AddInID><Description>Features to JSON</Description><Version>0.1</Version><Image /><Author>Bertrand Laurancin</Author><Company>Sully</Company><Date>06/07/2018</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="bla_addin.py" namespace="bla_addin"><ArcMap>
    <Commands>
        <Button caption="Features to JSON" category="FeaturesToJSON" class="FeaturesToJSON" id="bla_addin.button" image="" message="Features to JSON" tip="Features to JSON"><Help heading="Features to JSON">Features to JSON</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Features to JSON " category="FeaturesToJSON" id="bla_addin.toolbar" showInitially="true"><Items><Button refID="bla_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>